<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Docking" version="85.24.7.204" targetFramework="net481" />
  <package id="Krypton.Navigator" version="85.24.7.204" targetFramework="net481" />
  <package id="Krypton.Ribbon" version="85.24.7.204" targetFramework="net481" />
  <package id="Krypton.Toolkit" version="85.24.7.204" targetFramework="net481" />
  <package id="Krypton.Workspace" version="85.24.7.204" targetFramework="net481" />
  <package id="System.Speech" version="8.0.0" targetFramework="net481" />
</packages>